.empty {
  height: 50px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(189, 182, 182);
}

.getStarted__section {
  padding: 5rem 10%;
  background-color: white;
  height: 100%;
}
@media screen and (max-width: 1600px) {
  .hero__section {
    padding: 8rem 2rem;
  }
}

@media screen and (max-height: 1010px) {
  .getStarted__section {
    height: 95vh;
  }
}

@media screen and (max-height: 900px) {
  .getStarted__section {
    height: 100%;
  }
}
