@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");

:root {
  --font-sora: "Sora", sans-serif;
  --font-sans: "Work Sans", sans-serif;
  --color-red: #ffd7de;
  --color-blue: #120b48;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration: none;
}
